<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>8 Queens Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="home-page">

<div class="home-container">
    <h1 class="title">♛ 8 Queens ♛</h1>

    <p class="subtitle">
        Can you place 8 queens without conflicts?
    </p>

    <div class="buttons">
        <a href="/play">
            <button class="play-btn">Play</button>
        </a>

        <a href="/instructions">
            <button class="instruction-btn">Instructions</button>
        </a>
    </div>
</div>

</body>
</html>
