<!DOCTYPE html>
<html>
<head>
    <title>8 Queens Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-page">
    <div class="home-container">
        <div class="title">8 Queens</div>
        <div class="subtitle">Challenge Your Mind!</div>
        <div class="buttons">
            <a href="{{ url_for('play') }}"><button class="play-btn">Play</button></a>
            <a href="{{ url_for('instructions') }}"><button class="instruction-btn">Instructions</button></a>
        </div>
    </div>
</body>
</html>